body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

button {
    margin: 5px;
    padding: 10px 20px;
}
